@use 'src/styles/_vars';

.time-counter {
	width: calc(100% - 0.4rem);
	height: 12px;
	margin: 0.5em;
	border: 0.2rem solid vars.$board-bg-color;
	border-radius: 5px;
	background-color: vars.$board-bg-color;
	box-shadow: vars.$board-shadow;
	overflow: hidden;

	&__progress {
		width: 0;
		height: 100%;
		border-radius: 3px;
		background-color: vars.$time-progress-bg-color;
		background: vars.$time-progress-bg-gradient-color;
		background-attachment: fixed;
		animation: slide 1s linear infinite;
    transition: width 100ms;

    &.stopped {
      animation-play-state: paused;
    }
	}
}

@keyframes slide {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: 31px;
	}
}
