$red: #f43f5e;
$green: #10b981;


/* Cards colors */
$board-bg-color: #6b7280;
$board-shadow: 0 2px 5px dimgrey;
$cards-back-color: #130f12;
$cards-success-color: $green;
$cards-fail-color: $red;

/* Button colors */
$button-bg-color: lightslategray;
$button-hover-bg-color: rgb(70, 87, 103);

/* Card squared size */
$card-length: 120px;

/* Timebar colors */
$time-bg-color: #d2d1d2;
$time-progress-bg-color: $red;
$time-progress-bg-gradient-color: repeating-linear-gradient(
	140deg,
  $red 0px,
	$red 10px,
	#fda4af 10px,
	#fda4af 20px
);