.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background: linear-gradient(#f43f5e, green);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}