@use 'src/styles/_vars';

.difficulty {
  display: flex;
  margin-bottom: 1em;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  font-size: 0.9em;
  font-variant: all-small-caps;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;

  & button {
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: bold;
    padding: 0 1em;
    border: none;
    background-color: whitesmoke;
    margin: 0;
    transition: all 300ms;
  }

  & button:not(:disabled) {
    cursor: pointer;
  }

  & button:not(:disabled):hover {
    background-color: lightgrey;
  }

  & button:first-child {
    border-right: 1px solid lightgray;
  }

  & button:last-child {
    border-left: 1px solid lightgray;
  }
}